<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="border p-4 rounded shadow">

        <h4 class="mb-4 text-center">Reactive Form</h4>

        <div class="form-group mt-3">
          <label>Username</label>
          <input type="text" class="form-control" formControlName="userName" placeholder="Enter username"
            [ngClass]="{'is-invalid': f['userName'].touched && f['userName'].invalid}" />

          <div class="invalid-feedback" *ngIf="f['userName'].touched && f['userName'].invalid">
            <div *ngIf="f['userName'].errors?.['required']">Username is required</div>
            <div *ngIf="f['userName'].errors?.['minlength']">Minimum 3 characters required</div>
          </div>
        </div>

        <div class="form-group mt-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email"
            [ngClass]="{'is-invalid': f['email'].touched && f['email'].invalid}" />

          <div class="invalid-feedback" *ngIf="f['email'].touched && f['email'].invalid">
            <div *ngIf="f['email'].errors?.['required']">Email is required</div>
            <div *ngIf="f['email'].errors?.['email']">Enter a valid email</div>
          </div>
        </div>

        <div class="form-group mt-3">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter password"
            [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}" />

          <div class="invalid-feedback" *ngIf="f['password'].touched && f['password'].invalid">
            <div *ngIf="f['password'].errors?.['required']">Password is required</div>
            <div *ngIf="f['password'].errors?.['minlength']">Minimum 6 characters required</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success w-100 mt-4">
          Submit
        </button>

      </form>

    </div>
  </div>
</div>
